.displayBlock {
    display: block;
}

.displayInlineBlock {
    display: inline-block;
}

.bottom {
    display: block;
    position: fixed;
    bottom: 10px;
}

.marginLeft10px {
    margin-left: 10px
}

.marginLeft60px {
    margin-left: 60px
}

.cell {
    width: 100px;
    height: 50px;
}

.colorCell {
    width: 100px;
    height: 50px;
    background-color: green
}

.break {
    float: left;
}

.modalWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}

.overlayWindow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}


table {
    border-collapse: collapse;
}
table td, table th {
    border: 1px solid black;
}
table tr:first-child th {
    border-top: 1px solid black;
}
table tr:last-child td {
    border-bottom: 1px solid black;
}
table tr td:first-child,
table tr th:first-child {
    border-left: 1px solid black;
}
table tr td:last-child,
table tr th:last-child {
    border-right: 1px solid black;
}